


<table>
  <tr>
    <th>Movie</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td> <%= link_to(movie.name, movie_path(movie.id)) %></td>

  </tr>
<% end %>
</table>